<!DOCTYPE html >
<html xmlns:ng="http://angularjs.org">
<head>
    <title>green-monitor</title>
    <link href="/monitor/resource/css/bootstrap" rel="stylesheet">
    <script src="/monitor/resource/js/jquery"></script>
    <script type="text/javascript" src="/monitor/resource/js/angular"></script>
    <script src="/monitor/resource/js/angular-ui-bootstrap"></script>
    <script src="/monitor/resource/js/green-monitor"></script>

    <!--[if lte IE 8]>
    <script type="text/javascript">
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
    </script>

    <![endif]-->
</head>
<body id="ng-app" ng-app="monitorApp">

<div ng-controller="monitorCtr" class="container">
    <h2>{{vm.name}} ( version : {{vm.version}} )</h2>

    <div ng-class="{'alert-error':!item.result.success,'box':true,'well':true}" ng-repeat="item in vm.items">
        <h4>{{item.name}}</h4>
        <hr/>
        <div class="row-fluid" style="max-height: 150px;overflow-y: auto;">
            <div class="span8">
                <h5>Config information</h5>
                <ul>
                    <li ng-repeat="p in item.paramkeyValuePairs">{{p.key}} : {{p.value}}</li>
                </ul>
                <p>{{item.description}}</p>
            </div>
            <div class="span4">
                <h5>Service status</h5>

                <ul>
                    <li>status : {{item.result.success | status}}</li>
                    <li>time : {{item.result.time | timeParser}}</li>
                    <li>log :&nbsp;&nbsp;<a ng-click="open(item);">see more...</a>

                        <p>{{item.result.log | simpleDescription : 200}} </p>
                    </li>
                </ul>
                <div modal="item.shouldBeOpen">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="close(item);">&times;</button>
                        <h3>{{item.name}} response log</h3>
                    </div>
                    <div class="modal-body">
                        <p style="min-height: 100px;">{{item.result.log}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<footer class="footer">
    <div class="container">
        <p>This project was contributed by [<a href="https://github.com/greengerong"
                                               target="_blank">green gerong</a>] and project host on github [<a
                href="https://github.com/greengerong/green-monitor" target="_blank">green-monitor</a>].If you want you
            can change anything. I hope i can get your notify , but it up to you. </p>
    </div>
</footer>
</body>
</html>