<!DOCTYPE html >
<html xmlns:ng="http://angularjs.org">
<head>
    <title>green-monitor</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <!--<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>-->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
    <script src="http://localhost:8080/monitor/resource/js/angular-ui-bootstrap"></script>

    <!--[if lte IE 8]>
    <script type="text/javascript">
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
    </script>

    <![endif]-->
</head>
<body id="ng-app" ng-app="monitorApp">

<div ng-controller="monitorCtr" class="container">
    <h2>{{vm.name}} ( version : {{vm.version}} )</h2>

    <div class="box well" ng-repeat="item in vm.items">
        <h4>{{item.name}}</h4>
        <hr/>
        <div class="row-fluid" style="max-height: 150px;overflow-y: auto;">
            <div class="span8">
                <h5>Config information</h5>
                <ul>
                    <li ng-repeat="p in item.paramkeyValuePairs">{{p.key}} : {{p.value}}</li>
                </ul>
                <p>{{item.description}}</p>
            </div>
            <div class="span4">
                <h5>Service status</h5>

                <ul>
                    <li>status : {{item.result.success | status}}</li>
                    <li>time : {{item.result.time | timeParser}}</li>
                    <li>log :&nbsp;&nbsp;<a ng-click="open(item);">see more...</a>

                        <p>{{item.result.log | simpleDescription : 200}} </p>
                    </li>
                </ul>
                <div modal="item.shouldBeOpen">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="close(item);">&times;</button>
                        <h3>{{item.name}} response log</h3>
                    </div>
                    <div class="modal-body">
                        <p style="min-height: 100px;">{{item.result.log}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script type="text/javascript">
    var monitorApp = angular.module("monitorApp", ["ui.bootstrap"])
            .factory("monitorConfigMapper",function () {
                return function (config) {

                    angular.forEach(config.items, function (item, i) {
                        item.paramkeyValuePairs = [];
                        angular.forEach(item.params, function (value, key) {
                            item.paramkeyValuePairs.push({key: key, value: value});
                        })
                    });
                    return config;
                };
            }).filter("simpleDescription",function () {
                return function (input, maxlendth) {
                    if (input && input.length > maxlendth) {
                        return input.substr(0, maxlendth) + "...";
                    }
                    return input;
                };
            }).filter("timeParser",function () {
                return function (time) {
                    var minutes = Math.floor(time / ( 60 * 1000));
                    var divisor_for_seconds = time % ( 60 * 1000);
                    var seconds = Math.floor(divisor_for_seconds / (1000));
                    var divisor_for_mseconds = divisor_for_seconds % 1000;
                    var mseconds = Math.ceil(divisor_for_mseconds);

                    return minutes + "min:" + seconds + "s:" + mseconds + "ms";
                };
            }).filter("status", function () {
                return function (status) {
                    return status ? "Passed" : "Failed";
                };
            })
            .controller("monitorCtr", ["$scope", "$timeout", "$http", "monitorConfigMapper"
                , function ($scope, $timeout, $http, monitorConfigMapper) {

                    $http.get("http://localhost:8080/monitor/config").success(function (data) {
                        $timeout(function () {
                            $scope.vm = monitorConfigMapper(data);
                            getAllMonitorStatus($scope.vm);
                        });
                    }).error(function () {
                                console.log(arguments);
                            });

                    $scope.close = function (item) {
                        item.shouldBeOpen = false;
                        console.log(item, 1111);
                    };

                    $scope.open = function (item) {
                        item.shouldBeOpen = true;
                    };

                    var getMonitorStatus = function (item) {
                        $http.get("http://localhost:8080/monitor/" + item.id).success(function (data) {
                            item.result = data;
                        }).error(function () {
                                    console.log(arguments);
                                });
                    };

                    var getAllMonitorStatus = function (monitoring) {
                        angular.forEach(monitoring.items, function (item) {
                            getMonitorStatus(item);
                        });
                    };
                }]);
</script>
</body>
</html>